


@keyframes adminTxtAnim {
    from {opacity: 0;}
    to {opacity: 1;}
}


#admintxt {
    font-size: 30px;
    font-weight: bold;
    animation: adminTxtAnim 2s ease-in-out forwards;
}

#admindropbtn {
    border-radius: 5px;
    animation: adminTxtAnim 2s ease-in-out forwards;
    position: relative; 
    right: 50px;
}

#admin-page-stats-div {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 20px;
}

#stats-div-left {
    font-size: 27px;
}


#payment-admin-div {
    background-color: #eee;
    width: 35%; 
    padding: 10px;
    display: flex;
    justify-content: space-around;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.7);
    animation: book-app 2s ease-in-out forwards;
    border-radius: 20px;
}

#admin-dashboard-table {
    border-collapse: separate;
    border-spacing: 5px;
  }
  #admin-dashboard-table td {
    padding: 5px;
  }


@media only screen and (max-width: 600px) {

    #admin-page-stats-div {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #admindropbtn {
        right: 10px
    }

    #stats-div-left {
        font-size: 20px;
    }

    #payment-admin-div {
        width: 90vw;
        margin-top: 60px;
    }

    #admin-dashboard-table td {
        padding: 0px;
      }
    


    

}