#event-container {
    display: flex;
    justify-content: space-between;
    width: 30%;
    padding: 10px;
    background-color: #f1f1f1;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.7);
}

.text-size {
    font-size: 20px;
}

.dropdown {
    padding: 5px;
}

#time-slot-cont {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
    
}

#ts-container {
    display: flex;
    padding-bottom: 30px;
    flex-direction: column;
}

#ts {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 40vw;
}

@media only screen and (max-width: 1000px) {
    #event-container {
        width: 40%;
        justify-content: center;
        flex-direction: column;
    }
}

@media only screen and (max-width: 600px) {

    #top-bar {
      height: 100px;
      flex-direction:column;
      align-items: center;
      justify-content: space-between;
      padding: 5px;
    }

    #top-right p{
      padding-left: 14px;

    }

    #event-container {
        width: 80%;
        justify-content: center;
        flex-direction: column;
    }

    #ts-container {
        flex-direction: column;
        
    }

    #time-slot-cont {
        flex-direction: column;
        
    }

    #ts {
        flex-direction: column;
        
    }

  }