#container {
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  background-image: linear-gradient(to top left, #7F9BC9, #EBF5FC);

}
#top-bar {
    height: 70px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    padding: 5px;
  }
  
  #top-left {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  #top-right {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #top-right div{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
  }

  #top-right div p {
    margin-top: 15px;
    margin-left: 10px;
  }
  
  #cyril {
    font-weight: 600;
    font-size: 26px;
    color: #7F9BC9;
  }
  
  #hpy {
    font-size: 13px;
    position: relative;
    left: 4px;
  }
  
  #page-title-div {
    background-color: #7F9BC9;
    height: 25px;
    padding: 5px;
    display: flex;
    align-items: center;
  }
  
  #left-page-title {
    flex: 2;
    display: flex;
    justify-content: center;
    
  }
  
  #right-page-title {
    flex: 2;
    display: flex;
    justify-content: center;
  }
  
  #appointment-booking {
    font-weight: 600;
  }
  
  #cjmab {
    font-size: 13px;
  }
  
  #empty-space {
    height: 20px;
  }
  
  #book-appointment {
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    flex-direction: column;
  }

  @keyframes book-app {
    from {opacity: 0.2;translate: 0px 50px;}
    to {opacity: 1;translate: 0px 0px;}
  }
  
  #book-app-text {
    font-weight: 600;
    font-size: 30px;
    color: #485b79;
    animation-name: book-app;
    animation-duration: 2s;
  }
  
  #therapist-list {
    background-color: #7F9BC9;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    
  }
  
  #therapist-list-text {
    font-weight: 650;
  
  }
  
  #filter-div {
    height: 30px;
    display: flex;
    
  }
  
  #left-filter {
    flex: 3;
    display: flex;
    flex-direction: row;
  }
  
  #right-filter {
    flex: 2;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  #left-filter-content {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  #left-filter-content p {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
    /* display: flex;
    flex: 3;
    flex-direction: row;
    justify-content: space-around;
    align-items: center; */
  }
  
  #filter-text {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 5px;
  }
  
  #search {
    border-radius: 7px;
    width: 250px;
    height: 45px;
    padding: 5px;
    box-shadow: 0px 2px 4px black;
    background-color: #f1f1f1;
  }
  
  #table-div {
    position: relative;
    top: 50px;
    width: 100%;
    background-color: #f1f1f1;
    
  }
  
  #signup-btn {
    width: 50%;
    background-color: #7F9BC9;
    padding: 5px;
    border-radius: 10px;
    font-weight: 600;
    margin-top: 20px;
  }

  #login-btn {
    width: 50%;
    background-color: #7F9BC9;
    padding: 5px;
    border-radius: 10px;
    font-weight: 600;
    margin-top: 20px;
  }
  
   
  #list-therapist-table {
    
    width: 100%;
    border-collapse: collapse;
    text-align: center;
    margin-bottom: 30px;
    border: 1px solid black;
    animation-name: book-app;
    animation-duration: 2s;
  }

  #list-therapist-table th {
    background-color: #7F9BC9;
  }
  
   
  #table-div {
    border-spacing: 0px;
    width: 100%;
    overflow-x: auto;
  }
  
  /* #list-therapist-table tr:nth-child(even)  td {
    background: #fff;  
  } */

  .home-modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }

  @media only screen and (max-width: 600px) {

    #top-bar {
      height: 100px;
      flex-direction:column;
      align-items: center;
      justify-content: space-between;
      padding: 5px;
    }

    #top-right {
      display: none;

    }

    .home-modal-content {
      width: 80%;
    }

     #table-div {
      position: relative;
      top: 20vh;
    }
/*
   
    
    #list-therapist-table th,#list-therapist-table td,#list-therapist-table tr {
      display: block;
    }
    thead tr {
      position: absolute;
      top: -9999px;
      left: -9999px;
    }
    #list-therapist-table tr {
      margin: 0 0 1rem 0;
      border-bottom: 3px solid black;
      text-align: center;
    }
    #list-therapist-table tr:nth-child(odd) {
      background: #ccc;
    }
    #list-therapist-table td {
      border: none;
      border-bottom: 1px solid #eee;
      position: relative;
      padding-left: 50%;
    }
    #list-therapist-table td:before {
      position: absolute;
      top: 0;
      left: 6px;
      width: 45%;
      padding-right: 10px;
      white-space: nowrap;
    } */
    #filter-div {
      display: block;
      
    }
    
    #left-filter {
      display: flex;
      flex-direction: column;
    }
    #right-filter {
      display: flex;
    }
  }
  
  #addorminus {
    background-color: Transparent;
    background-repeat: no-repeat;
    color: #656464;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    font-size: 2em;
  }
  
  #desc {
    width: 300px;
    height: auto;
    color: black;
    padding: 30px;
  }
  
  #tslist {
    width: 300px;
    height: auto;
    color: black;
    padding: 30px;
    list-style: none;
  
  }
  
  .attribute {
    border-top: 1px solid #eee;
    padding: 15px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  
  #therapist-photo {
    width: 250px;
    height: 300px;
  }
  
  #book-button {
    width: 150px;
    height: 60px;
    font-size: 15px;
    border: 1px solid;
    border-radius: 10px;
    cursor: pointer;
  }
  
  #foot {
    height: auto;
    display: flex;
    position: relative;
    top: 30px;
    padding-top: 30px;
    
  }
  
  #overcome {
    flex:2;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #F8F8F8;
  }
  
  #categories {
    flex: 2;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #F8F8F8;
  }
  
  #recent {
    flex: 2;
    background-color: #F8F8F8;
  }
  
  #contact {
    flex: 2;
    background-color: #F8F8F8;
  }
  
  #overcome-text {
    font-weight: 400;
    font-size: 25px;
  
  }
  
  #overcome-desc {
    width: 200px;
    height: auto;
  }
  
  #cat-list {
    list-style: none;
  }

  @keyframes btn-op {
    from {opacity: 0;width: 0px;height: 0px;}
    to {opacity: 1;width: 70px;height: 35px;}
  }

  #search-btn {
    width: 70px;
    height: 35px;
    
    position: relative;
    left: 20px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    animation-name: btn-op;
    animation-duration: 2s;
  }

