/* #top-bar {
    height: 40px;
    display: flex;
    justify-content: space-around;
    border: 1px solid;
    padding: 5px;
}
  
#top-left {
    flex: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
#top-right {
    flex: 2;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  
  #cyril {
    font-weight: 600;
  }
  
  #hpy {
    font-size: 13px;
    position: relative;
    left: 4px;
  }
  
  #page-title-div {
    background-color: #ABCBFF;
    height: 25px;
    padding: 5px;
    display: flex;
    align-items: center;
  }
  
  #left-page-title {
    flex: 2;
    display: flex;
    justify-content: center;
    
  }
  
  #right-page-title {
    flex: 2;
    display: flex;
    justify-content: center;
  }
  
  #appointment-booking {
    font-weight: 600;
  }
  
  #cjmab {
    font-size: 13px;
  }
  
  #empty-space {
    height: 50px;
  } */

  #appointment-service-type {
    margin-left: 20px;
    border: none;
    box-shadow: 0px 2px 2px rgba(0, 0, 0,0.8);
    border-radius: 5px;
    background-color: #BFD7FF;
  
  }

  #appointment-date-picker {
    padding: 5px;
    border: none;
    box-shadow: 0px 2px 2px rgba(0, 0, 0,0.8);
    border-radius: 5px;
    background-color: #BFD7FF;

  }

  #appointments-table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid black;
    animation: book-app 2s ease-in-out forwards;
  

  }

  #appointments-table th{
    background-color: #BFD7FF;
  }
  
  
  #appointments-table tr {
    margin: 0 0 1rem 0;
    border-bottom: 1px solid black;
    text-align: center;
  }
  #appointments-table tr:nth-child(even) td{
    background: #f2f2f2;
  }
  #appointments-table td {
    border: none;
    border-bottom: 1px solid black;
    position: relative;
  }
  #appointments-table td:before {
    position: absolute;
    top: 0;
    left: 6px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
  }


  .list-appointments-tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
  }
  .list-appointments-tab div {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
  }

  .list-appointments-tab div:hover {
    background-color: #ddd;
  }

  .list-appointments-tab div.active {
    background-color: #FF8B8B;
  }

  .apptabcontent {
    display: none;
    padding: 6px 12px;
    width: 100%;
  }

  #service-type {
    width:100px;
  }

  #filter {
    padding: 20px;
    display: flex;
    flex-direction: row;
  }

  #filter div{
    margin-left:20px
  }

  #list {
    padding: 20px;
    display: flex;
    flex-direction: row;
    background-color: #EDEDED;
    border: 1px solid black;
    margin-bottom: 30px;
  }

  #list div {
    margin-left: 50px;
  }

  #create {
    padding: 5px;
    float: right;
    width: 80px;
  }

  @media only screen and (max-width: 600px) {

    #top-bar {
      height: 100px;
      flex-direction:column;
      align-items: center;
      justify-content: space-between;
      padding: 5px;
    }

    #top-right p{
      padding-left: 14px;

    }

    .list-appointments-tab div {
      padding: 10px 12px;
    }

    #filter {
      margin: 10px;
      justify-content: center;
      flex-direction: column;
    }

    #list {
      flex-direction: column;
      padding: 10px;
    }

    #list div {
      padding: 10px;
    }

    #appointments-table {
      margin-left: 200px;
      width: 100vw;
    }
    #appointment-service-type {background-color: #BFD7FF;
      padding: 5px;
      margin-top: 10px;
    }

    #appointment-date-picker {    background-color: #BFD7FF;

      margin-top: 20px;
    }

    #appointments-table tr td, #appointments-table tr th{
      padding: 10px;
    }
  }
