#top-bar {
    height: 40px;
    display: flex;
    justify-content: space-around;
    border: 1px solid;
    padding: 5px;
}
  
#top-left {
    flex: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
#top-right {
    flex: 2;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  
  #cyril {
    font-weight: 600;
  }
  
  #hpy {
    font-size: 13px;
    position: relative;
    left: 4px;
  }
  
  #page-title-div {
    background-color: #ABCBFF;
    height: 25px;
    padding: 5px;
    display: flex;
    align-items: center;
  }
  
  #left-page-title {
    flex: 2;
    display: flex;
    justify-content: center;
    
  }
  
  #right-page-title {
    flex: 2;
    display: flex;
    justify-content: center;
  }
  
  #appointment-booking {
    font-weight: 600;
  }
  
  #cjmab {
    font-size: 13px;
  }
  
  #empty-space {
    height: 50px;
  }

  .tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
  }
  .tab div {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
  }

  .tab div:hover {
    background-color: #ddd;
  }

  .tab div.active {
    background-color: #FF8B8B;
  }

  .tabcontent {
    display: none;
    padding: 6px 12px;
  }

  #service-type {
    width:100px;
  }

  #filter {
    padding: 20px;
    display: flex;
    flex-direction: row;
  }

  #filter div{
    margin-left:20px
  }

  #list {
    padding: 20px;
    display: flex;
    flex-direction: row;
    background-color: #EDEDED;
    border: 1px solid black;
    margin-bottom: 30px;
  }

  #list div {
    margin-left: 50px;
  }

  #create {
    padding: 5px;
    float: right;
    width: 80px;
  }
