#add-customer {
    padding:5px;
    margin-left: 30px;
}

.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
  }

  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 30%;
  }

  .padding-input {
    padding: 5px;
    width: 90%;
    height: auto;
  }

  #create-staff {
    margin-top: 20px;
  }

  #filter-add-div {
    display: inline-block;
  }

  #customer-table {
    width: 100%;
    border-collapse: collapse;
   
  
  }
  
  
  #customer-table tr {
    margin: 0 0 1rem 0;
    border-bottom: 1px solid black;
    text-align: center;
  }
  #customer-table tr:nth-child(odd) {
    background: #ccc;
  }
  #customer-table td {
    border: none;
    border-bottom: 1px solid #eee;
    position: relative;
  }
  #customer-table td:before {
    position: absolute;
    top: 0;
    left: 6px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
  }

  #customer-modal-div {
    display: flex; 
    justify-content: space-between;
  }

  @media only screen and (max-width: 600px) {

    #top-bar {
      height: 100px;
      flex-direction:column;
      align-items: center;
      justify-content: space-between;
      padding: 5px;
    }

    #top-right p {
      padding-left: 14px;

    }

    #filter-add-div {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
     }

     #add-customer {
      margin-top: 20px;
     }

     #customer-table {
      margin-left: 150px;
     }

     .modal-content {
      width: 90%;
     }

     #customer-modal-div {
      justify-content: center;
      flex-direction: column;
     }

     
  
    
    /* #customer-table thead {
      border: none;
      clip: rect(0 0 0 0);
      height: 1px;
      margin: -1px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      width: 1px;
      text-align: left;
      
    }
    
    #customer-table tr {
      border-bottom: 3px solid #ddd;
      display: block;
      margin-bottom: .625em;
    }
    
    #customer-table td {
      border-bottom: 1px solid #ddd;
      display: block;
      text-align: right;
    }
    
    #customer-table td::before {
      
      content: attr(data-label);
      float: left;
      font-weight: bold;
      text-transform: uppercase;
    }
    
    #customer-table td:last-child {
      border-bottom: 0;
    } */
  }