#service-title {
    padding: 5px
}

#create-service {
    margin-top: 20px;
}

#service-filter {
    display: inline-block;
}

#add-services {
    margin-left: 20px;
    animation: search 2s ease-in-out forwards;

}

#service-table {
    width: 90%;
    border-collapse: collapse;
    border: 1px solid black;
    animation: book-app 2s ease-in-out forwards;
  }

  #service-table th {
    background-color: #BFD7FF;

  }

  #service-table tr {
    margin: 0 0 1rem 0;
    border-bottom: 1px solid black;
    text-align: center;
  }
  #service-table tr:nth-child(even) td{
    background: #f2f2f2;
  }
  #service-table td {
    border: none;
    border-bottom: 1px solid black;
    position: relative;
  }
  #service-table td:before {
    position: absolute;
    top: 0;
    left: 6px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
  }

  #edit-service-popup {
    display: flex;
    flex: 1;
    justify-content: space-evenly;
  }

  #edit-service-btn {
    margin-top: 10px;
  }

@media only screen and (max-width: 600px) {
    #service-filter {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    #add-services {
        margin-top: 20px;
    }

    #service-table {
      margin-left: 90px;
      margin-right: 10px;
    }

    #service-table tr th{
      padding: 10px;
    }

    #service-table tr td{
      padding: 10px;
    }

    #edit-service-popup {
        justify-content: center;
        flex-direction: column;
    }
}