
#therapisttxt {
    font-size: 30px;
    font-weight: bold;
    animation: adminTxtAnim 2s ease-in-out forwards;
}

#therapist-stats-left {
    font-size: 27px;
}


@media only screen and (max-width: 600px) {

    #admin-page-stats-div {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #admindropbtn {
        right: 10px
    }

    #stats-div-left {
        font-size: 20px;
    }

    #therapisttxt {
        font-size: 27px;
    }

    #therapist-stats-left {
        font-size: 20px;
    }

    

}