#top-bar {
  height: 40px;
  display: flex;
  justify-content: space-around;
  border: 1px solid;
  padding: 5px;
}

#top-left {
  flex: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

#top-right {
  flex: 2;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#cyril {
  font-weight: 600;
}

#hpy {
  font-size: 13px;
  position: relative;
  left: 4px;
}

#page-title-div {
  background-color: #ABCBFF;
  height: 25px;
  padding: 5px;
  display: flex;
  align-items: center;
}

#left-page-title {
  flex: 2;
  display: flex;
  justify-content: center;
  
}

#right-page-title {
  flex: 2;
  display: flex;
  justify-content: center;
}

#appointment-booking {
  font-weight: 600;
}

#cjmab {
  font-size: 13px;
}

#empty-space {
  height: 20px;
}

#book-appointment {
  height: 30px;
  background-color: #ABCBFF;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  flex-direction: column;
}

#book-app-text {
  font-weight: 600;
  font-size: 30px;
}

#therapist-list {
  background-color: #ABCBFF;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
}

#therapist-list-text {
  font-weight: 650;

}

#filter-div {
  height: 30px;
  display: flex;
  
}

#left-filter {
  flex: 3;
  display: flex;
  flex-direction: row;
}

#right-filter {
  flex: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

#left-filter-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

#left-filter-content p {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
  /* display: flex;
  flex: 3;
  flex-direction: row;
  justify-content: space-around;
  align-items: center; */
}

#filter-text {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  left: 5px;
}

#search {
  border-radius: 7px;
  width: 250px;
  padding: 5px;
}

#table-div {
  position: relative;
  top: 50px;
  background-color: #fff;
}





tr {
  background-color: #fff;
}

th {
  background-color: #fff;
  color: #000;
  padding: 5px 10px 5px 10px;
}

td {
  background-color: #fff;
  padding: 5px 40px 5px 40px;
  border-bottom: 1px solid black;
}

th:first-child,
tr:first-child {
  padding: 0;
}

.therapist-table {
  position: relative;
  margin: 10px auto;
  padding: 0;
  width: 100vw;
  height: auto;
  border-collapse: collapse;
  text-align: center;
}

.therapist-details {
  width: 100vw;
}

table {
  border-top: 1px solid black;
  border-spacing: 0px;
}


tr:nth-child(odd) > td {
  background-color: #fff;
  color: #000;

}

tr > td.therapist-details:last-child {
  border: none;
}

tr > td.therapist-details {
  background-color: #fff;
  color: #ddd;
  margin-bottom: 20px;
}

tr > td:first-child,
tr > th:first-child {
  padding: 0;
  padding-left: 6px;
}

#addorminus {
  background-color: Transparent;
  background-repeat: no-repeat;
  color: #656464;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  font-size: 2em;
}

#desc {
  width: 300px;
  height: auto;
  color: black;
  padding: 30px;
}

#tslist {
  width: 300px;
  height: auto;
  color: black;
  padding: 30px;
  list-style: none;

}

.attribute {
  border-top: 1px solid #eee;
  padding: 15px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#therapist-photo {
  width: 250px;
  height: 300px;
}

#book-button {
  width: 130px;
  height: 60px;
  font-size: 15px;
  border: 1px solid;
  border-radius: 10px;
  cursor: pointer;
}

#foot {
  height: auto;
  display: flex;
  position: relative;
  top: 30px;
  padding-top: 30px;
  
}

#overcome {
  flex:2;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #F8F8F8;
}

#categories {
  flex: 2;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #F8F8F8;
}

#recent {
  flex: 2;
  background-color: #F8F8F8;
}

#contact {
  flex: 2;
  background-color: #F8F8F8;
}

#overcome-text {
  font-weight: 400;
  font-size: 25px;

}

#overcome-desc {
  width: 200px;
  height: auto;
}

#cat-list {
  list-style: none;
}